.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 0.54);
}

.mat-drawer-inner-container {
    overflow: initial;
}

mat-list {
    padding-top: 20px 0 20px 0 ;
}

mat-list-item{
  direction: ltr;
}
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
