<mat-list>
  <div mat-subheader style="text-align: center;">القائمة</div>
  <mat-list-item routerLink="home">
    <mat-icon matListItemIcon>home</mat-icon>
    <div matListItemTitle>الرئيسية</div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item routerLink="students">
    <mat-icon matListItemIcon> my_library_add </mat-icon>
    <div matListItemTitle>الطلبة</div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item routerLink="degrees">
    <mat-icon matListItemIcon>book</mat-icon>
    <div matListItemTitle>درجات الطلبة</div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item routerLink="exams">
    <mat-icon matListItemIcon>description</mat-icon>
    <div matListItemTitle>الامتحانات</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="rescheduleExams">
    <mat-icon matListItemIcon>my_library_books</mat-icon>
    <div matListItemTitle>طلب اعادة الامتحان </div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item routerLink="lectures">
    <mat-icon matListItemIcon>Extension Icon</mat-icon>
    <div matListItemTitle>المحاضرات </div>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item routerLink="levels">
    <mat-icon matListItemIcon>Extension Icon</mat-icon>
    <div matListItemTitle>المراحل</div>
  </mat-list-item>
  <mat-divider></mat-divider>



  <mat-list-item routerLink="reopenLecture">
    <mat-icon matListItemIcon>Extension Icon</mat-icon>
    <div matListItemTitle>طلبات فتح المحاضرات</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="reviews">
    <mat-icon matListItemIcon>Extension Icon</mat-icon>
    <div matListItemTitle>المراجعات</div>
  </mat-list-item>
  <mat-divider></mat-divider>


  <mat-list-item routerLink="subscriptions">
    <mat-icon matListItemIcon>Extension Icon</mat-icon>
    <div matListItemTitle>الاشتراكات</div>
  </mat-list-item>
  <mat-divider></mat-divider>


  <mat-list-item routerLink="setting">
    <mat-icon matListItemIcon slot="start">note</mat-icon>
    <div matListItemTitle>الاعدادات</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="test">
    <mat-icon matListItemIcon> my_library_add </mat-icon>
    <div matListItemTitle>test</div>
  </mat-list-item>
</mat-list>
