<mat-list>
    <div mat-subheader>Menu</div>
    <mat-list-item routerLink="Home">
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>home</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item routerLink="2">
        <mat-icon matListItemIcon>description</mat-icon>
        <div matListItemTitle>Exams</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item routerLink="Degrees">
        <mat-icon matListItemIcon>book</mat-icon>
        <div matListItemTitle>degree</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item routerLink="Lectures">
        <mat-icon matListItemIcon>Extension Icon</mat-icon>
        <div matListItemTitle>Lectures</div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item routerLink="Levels">
        <mat-icon matListItemIcon>Extension Icon</mat-icon>
        <div matListItemTitle>Levels</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="Subscriptions">
        <mat-icon matListItemIcon>Extension Icon</mat-icon>
        <div matListItemTitle>Subscriptions</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="ReopenLecture">
        <mat-icon matListItemIcon>Extension Icon</mat-icon>
        <div matListItemTitle>lec</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="Reviews">
        <mat-icon matListItemIcon>Extension Icon</mat-icon>
        <div matListItemTitle>Reviews</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="Instructional">
        <mat-icon matListItemIcon>note</mat-icon>
        <div matListItemTitle>lec</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="RescheduleExams">
        <mat-icon matListItemIcon>my_library_books</mat-icon>
        <div matListItemTitle>lec</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="Students">
        <mat-icon matListItemIcon> my_library_add </mat-icon>
        <div matListItemTitle>lec</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item routerLink="test">
        <mat-icon matListItemIcon> my_library_add </mat-icon>
        <div matListItemTitle>test</div>
    </mat-list-item>
</mat-list>
