<h1 mat-dialog-title> اضافه صف دراسي</h1>
<!-- <div mat-dialog-content>
  <form class="example-form">
    <div class="container">
      <div class="login-form">
        <form action="">
          <input type="number" #idnumber placeholder="id">
          <input type="text" #levelName placeholder="الصف الداسي">
          <input type="text" #telegeramLink placeholder="رابط telegram">
          <button type="submit" (click)="onSubmit(idnumber,levelName.value,telegeramLink.value)">تسجيل الدخول</button>
          <div mat-dialog-actions>
            <button mat-button mat-dialog-close cdkFocusInitiae>خروج</button>
            <button mat-button mat-dialog-close cdkFocusInitial (click)="onSubmit(id.value,levelName.value,telegeramLink.value)">تسجيل</button>
          </div>
        </form>
      </div>
    </div>
  </form>
</div> -->
<div mat-dialog-content>

  <form action="">
    <input type="text" name="name" #idnumber placeholder="ID">
    <input type="email" name="text" #levelName placeholder="البريد الالكتروني">
    <input type="email" name="text" #telegeramLink placeholder="telegeramLink">
    <!-- <button type="submit"(click)="onSubmit(idnumber,levelName.value,telegeramLink.value)">Submit</button>
     -->
    <div class="btnfoot">
      <button mat-button mat-dialog-close cdkFocusInitiae>خروج</button>
      <button mat-button mat-dialog-close cdkFocusInitial
        (click)="onSubmit(idnumber.value,levelName.value,telegeramLink.value)">تسجيل</button>
    </div>
  </form>
</div>