.container {
  width: 500px;
  margin: 0 auto;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin: auto;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}
small{
  color: red;
}
