<div class="mb-4" style="direction: ltr;">
  Email ="Admin@Sigma.com"<br />
  password ="Peter@Salama2000";
</div>
<!--
<div class="container">
  <section id="content">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="">
      <h1>Login Form</h1>
      <div>
        <input formControlName="email" type="text" placeholder="Email" required="" id="username" />
      </div>
      <div>
        <input formControlName="password" type="password" placeholder="Password" required="" id="password" />
      </div>
      <small style="color: red; font-size: x-large;" class="mt-2" *ngIf="error">* Error: {{ error }}</small>
      <div>
        <input type="submit" value="Log in" [disabled]="!loginForm.valid" />
      </div>
    </form>
  </section>
</div>
-->

<div class="container">
  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="">
      <h1>تسجيل الدخول</h1>
      <input type="email" formControlName="email" placeholder="البريد الإلكتروني">
      <input type="password" formControlName="password" placeholder="كلمة المرور">
      <small *ngIf="error">{{error.errors?.Email}}{{error.message}}</small>
      <button type="submit" [disabled]="!loginForm.valid">تسجيل الدخول</button>
    </form>
  </div>
</div>
